workflows/Smart Email Responder.json
{
  "name": "Smart Email Responder",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [0, 0],
      "id": "manual-trigger",
      "name": "Manual Trigger"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "email-from",
              "name": "from",
              "value": "customer@example.com",
              "type": "string"
            },
            {
              "id": "email-subject",
              "name": "subject",
              "value": "Question about my order #12345",
              "type": "string"
            },
            {
              "id": "email-body",
              "name": "body",
              "value": "Hi, I ordered a product last week but haven't received a shipping confirmation yet. Can you help me track my order? I'm getting a bit worried.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [220, 0],
      "id": "sample-email",
      "name": "Sample Email"
    },
    {
      "parameters": {
        "operation": "text",
        "resource": "text",
        "options": {
          "temperature": 0.3,
          "maxTokens": 50
        },
        "prompt": "={{ \"Analyze the sentiment of this email and respond with only one word (positive, negative, or neutral):\\n\\n\" + $json.body }}"
      },
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1.3,
      "position": [440, 0],
      "id": "analyze-sentiment",
      "name": "Analyze Sentiment"
    },
    {
      "parameters": {
        "operation": "text",
        "resource": "text",
        "options": {
          "temperature": 0.7,
          "maxTokens": 200
        },
        "prompt": "={{ \"You are a helpful customer service representative. The customer's email has a \" + $('Analyze Sentiment').item.json.message.content + \" sentiment.\\n\\nWrite a professional, empathetic response to this email:\\n\\nFrom: \" + $('Sample Email').item.json.from + \"\\nSubject: \" + $('Sample Email').item.json.subject + \"\\nBody: \" + $('Sample Email').item.json.body + \"\\n\\nResponse:\" }}"
      },
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1.3,
      "position": [660, 0],
      "id": "generate-response",
      "name": "Generate Response"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "original-from",
              "name": "originalFrom",
              "value": "={{ $('Sample Email').item.json.from }}",
              "type": "string"
            },
            {
              "id": "original-subject",
              "name": "originalSubject",
              "value": "={{ $('Sample Email').item.json.subject }}",
              "type": "string"
            },
            {
              "id": "original-body",
              "name": "originalBody",
              "value": "={{ $('Sample Email').item.json.body }}",
              "type": "string"
            },
            {
              "id": "detected-sentiment",
              "name": "detectedSentiment",
              "value": "={{ $('Analyze Sentiment').item.json.message.content }}",
              "type": "string"
            },
            {
              "id": "ai-response",
              "name": "aiResponse",
              "value": "={{ $json.message.content }}",
              "type": "string"
            },
            {
              "id": "processed-at",
              "name": "processedAt",
              "value": "={{ $now.format('YYYY-MM-DD HH:mm:ss') }}",
              "type": "string"
            },
            {
              "id": "status",
              "name": "status",
              "value": "✅ Response Generated",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [880, 0],
      "id": "format-output",
      "name": "Format Output"
    }
  ],
  "pinData": {},
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Sample Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sample Email": {
      "main": [
        [
          {
            "node": "Analyze Sentiment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze Sentiment": {
      "main": [
        [
          {
            "node": "Generate Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Response": {
      "main": [
        [
          {
            "node": "Format Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": []
}
